<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>

<div class="something"></div>

<div id ='my_form_div'>
  <%= render 'form' %>
</div>





<br />
<%#= link_to "New Document", new_document_path, class: "btn btn-primary" %>
<br />
<br />

<div id ='index_data_div'>
   <%= render "index_data" %>
</div>